* {
  font-family: Raleway, sans-serif;
  font-size: 15pt;
  margin: auto;
}
body {
  background-color: black;
}
.logoBubble {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 5px;
  z-index: 9999;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  text-align: center;
}
ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 140px;
  left: 0px;
  list-style: none;
  z-index: 9999;
  text-align: center;
}
ul#navigation li {
  width: 100px;
}
ul#navigation li a {
  display: block;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  opacity: 1.0;
  margin-top: 5px;
}
